# Rename file to '.env' and replace below variables as required.

BASE_URL = 'https://sandboxdnac2.cisco.com' # Example BASE_URL = 'https://sandboxdnac.cisco.com'
USERNAME = 'admin' # Example USERNAME = 'devnetuser'
PASSWORD = 'Cisco1234!' # Example PASSWORD = 'Cisco123!'


